@model Realstate.Models.BaseDatos.Project

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_RealState.cshtml";
}
<section class="content">
    <div class="row col-md-6 col-lg-12  main ">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h2>Eliminar Proyecto</h2>
                    <h3>¿Estás seguro que quieres eliminar esto?</h3>
                </div>
                <div class="box-body">
                   
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Code)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Code)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>
                        <dd>
                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" height="350px" />
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CreationDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreationDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Usercreation)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Usercreation)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.StatusRegister)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.StatusRegister)
                        </dd>
                       
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Eliminar" class="btn btn-primary" /> 
                        <a asp-action="Index" class="btn btn-primary">Salir</a>
                    </form>

                    </div>
                </div>
            </div>
        </div>
</section>