@model IEnumerable<Realstate.Models.BaseDatos.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RealState.cshtml";
}
<div class="col-md-9 col-lg-12  main " style="right: 10px;">
    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Proyectos</h2>

                <p style="text-align:right">
                    <a asp-action="Create" class="btn btn-danger glyphicon glyphicon-plus-sign" data-toggle="#miModal"> NUEVO</a>
                  
                </p>
            </div>
        </div>
        <div class="box">

            <div class="box-header">
                <table class="table table-bordered table-striped" id="tablaproyectos">
                    <thead>
                        <tr>
                            <th>
                                Código
                            </th>
                            @*<th>

                            </th>*@
                            <th>
                                Nombre
                            </th>

                            <th>
                                Provincia
                            </th>
                            <th>
                                Ciudad
                            </th>
                            <th>
                                Fecha de Creación
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                @*<td>
                                   
                                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="80" height="80" />

                                </td>*@
                                <td>
                                   
                                    <a asp-controller="Projects"
                                       asp-action="ProyectosZona"
                                       asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </a>

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdProvinceNavigation.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdDistrictNavigation.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreationDate)
                                </td>

                                <td>
                                    <a asp-action="Edit" class="glyphicon glyphicon-pencil" style="font-size: 20px; color: #f39c12;" asp-route-id="@item.Id"></a>
                                    <a asp-action="Delete" class="glyphicon glyphicon-trash" style="font-size: 20px; color: #ff0000;"asp-route-id="@item.Id"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Datos Proyecto</h4>
            </div>
            <div class="modal-body">
                <div id="resultado"></div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>

    @section scripts{
        <script>

            $("#tablaproyectos").DataTable();
            @*function llamarVistaParcial() {
            var laURLDeLaVista = '@Url.Action("CreatePv", "Projects")';
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: laURLDeLaVista,
                data: {},
                success: function (response) {
                    $('#resultado').html('');
                    $('#resultado').load(response);
                    $('#myModal').modal('show'); 
                }
            });*@

            $("#btnCreate").click(function () {
                $("#resultado").load("/Projects/Create/", function () {
                    $("#myModal").modal("show")
                });
            });

        

           
        

        </script>
    }
