@model IEnumerable<Realstate.Models.BaseDatos.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RealState.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usercreation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusRegister)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAccountNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdContryNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDistrictNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLinkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdParishNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProvinceNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSectorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
                <img width="75" height="75" src="@Url.Action("GetImage", "Projects", new { item.Id })" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usercreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusRegister)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAccountNavigation.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdContryNavigation.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDistrictNavigation.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLinkNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdParishNavigation.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProvinceNavigation.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSectorNavigation.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zona.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
