@model IEnumerable<Realstate.Models.BaseDatos.ZonaProspectada>
@{

    Layout = "~/Views/Shared/_RealStateParcial.cshtml";
}
<p style="text-align:right">
    <a href='@Url.Action("AreasProspeccion", "UrbanProperty",
    new { idProyecto = @ViewBag.idProject})' class="btn btn-danger">Nueva Área</a>
</p>
<div style="height: 400px;
top:inherit;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;">
    @foreach (var item in Model)
    {

        <div class="crow col-md-6 col-lg-12  main ">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="col-md-4">

                            <div class="form-group">
                                <strong> NOMBRE DE ÁREA: </strong>@Html.DisplayFor(modelItem => item.Name)
                            </div>
                            <div class="form-group">
                                @if (item.imagen != null)
                                {
                                    <img src="data:image;base64,@System.Convert.ToBase64String(item.imagen)" style="width:114px;height:58px" />
                                }
                                else
                                {
                                    <img src="" style="width:114px;height:58px" />

                                }
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <strong>FECHA DE CREACIÓN: </strong> @Html.DisplayFor(modelItem => item.CreationDate)
                            </div>
                            <div class="form-group">
                                <strong>
                                    TAMAÑO ÁREA:
                                </strong> @Html.DisplayFor(modelItem => item.Zona)
                                <strong>N° DE PREDIOS: </strong> @item.Predio.Count()

                            </div>
                            <div class="form-group">
                                <strong>
                                    DIRECCIÓN1:
                                </strong> @Html.DisplayFor(modelItem => item.StreetMain)
                                <strong>DIRECCIÓN2: </strong> @Html.DisplayFor(modelItem => item.StreetSecundary)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <strong>USUARIO RESPONSABLE: </strong> @Html.DisplayFor(modelItem => item.Usercreation)
                            </div>
                            <div class="form-group">
                                @if (item.Predio.Count() != 0)
                                {
                                    <a href='@Url.Action("Index", "task",
                                    new { IdArea = item.Id })' class="btn btn-danger">Tareas</a>
                                }
                                else
                                {
                                    <button class="btn btn-danger" onclick="alerta()">Tareas</button>

                                }

                            </div>
                            <div class="form-group">
                                <a href='@Url.Action("AreasProspeccion", "UrbanProperty", new { idProyecto =  ViewBag.idProject ,IdArea=item.Id })' class="glyphicon glyphicon-pencil" style="font-size: 20px; color: #f39c12;"></a>
                          
                                <a asp-action="Delete" class="glyphicon glyphicon-trash" style="font-size: 20px; color: #ff0000;" asp-route-id="@item.Id"></a>
                            </div>

                        </div>



                       
                    </div>
                </div>
            </div>
        </div>




    }

</div>
@section Scripts {
    <script>
        function alerta() {
            //un alert
            alertify.alert("<b>Zona Prospectada</b> no contiene predios", function () {
                //aqui introducimos lo que haremos tras cerrar la alerta.
                //por ejemplo -->  location.href = 'http://www.google.es/';  <-- Redireccionamos a GOOGLE.
            });
        }
        function confirmar(id) {
            //un confirm
            alertify.confirm("<br><br><b>Desea eliminar Zona Prospectada.</b></p>", function (e) {
                if (e) {
                    alertify.success("Has pulsado '" + alertify.labels.ok + "'");

                } else {
                    alertify.error("Has pulsado '" + alertify.labels.cancel + "'");
                }
            });
            return false
        }
    </script>
}